<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="logo">
      <center>
        <a href="{{ "/" | relative_url }}">
          <img src="/assets/logo.png" alt="" width="20%" height="20%">
        </a>
        <div class="tagline">
            zen and wtf?! of computering
        </div>
      </center>
    </div>

    <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
    </main>

    {% include footer.html %}

  </body>

</html>
